.containerRoot {
  margin: 3%;
  display: grid;
  grid-template-areas: "a . b";
  grid-template-columns: 48% 4% 48%;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
}

.columnA {
  grid-area: a;
}
.columnB {
  grid-area: b;
}

.tableOrder {
  display: grid;
  grid-template-areas: "name order";
  grid-template-columns: 30% 70%;
  width: 100%;
  margin-top: 30px;
}

.columnName {
  grid-area: name;
  width: 100%;
  background-color: #ededed;
  height: auto;
  border-radius: 30px 0 0 0;
}
.columnOrder {
  grid-area: order;
  width: 100%;
  background-color: #ededed;
  height: auto;
  border-left: 2px solid black;
  border-radius: 0 30px 0 0;
  font-size: 22px;
  font-family: Bitter;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.146em;
}

.columnHeader {
  background-color: #bf5b04;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 0 0 0;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.146em;
  color: #ededed;
}

.columnOrder > .columnHeader {
  border-radius: 0 30px 0 0;
}
.nameUser {
  display: inline-block;
  margin-top: 30px;
  font-size: 24px;
  font-family: Bitter;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.146em;
}

.orderItem {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.containerTotal {
  display: flex;
  width: 45%;
  justify-content: space-around;
}

.containeOrder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.total {
  margin-top: 50px;
  text-align: end;
  margin-right: 40px;
  font-size: 22px;
  font-family: Bitter;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.146em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#btnSend {
  width: 45%;
  margin: 20px 0;
}
